.bnt_item {
    margin-top: 200px;
    margin-left:100px;
    border: none;
    color: silver;
    padding: 40px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    border-radius: 10%;
  }

  .parent {
    display: flex;  /* 부모 요소를 flex container로 지정 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 100vh; /* 부모 요소의 높이를 화면 전체 높이로 설정 */
  }

  .bnt_finish{
    margin-left: 200px;
    border: none;
    color: silver;
    padding: 40px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    border-radius: 10%;

  }

  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .container img {
    flex: 1;
    margin-right: 20px;
    max-width: calc((100% - 40px) / 3); /* 각 이미지의 최대 너비를 1/3로 설정 */
    margin-right: 20px;
  }

  .category_list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    margin-top:40px;
  }
  
  .img_wrapper {
    margin: 20px;
    display: block;
    margin-right: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;

  }
  


 
 