/* .header {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    background-color: #6cb48f;
    padding: 20px;
  }
   */
/*   
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  } */
/*   
  nav ul {
    list-style: none;
    display: flex;
  } */
  
  /* nav ul li {
    margin-right: 20px;
  } */
  
  /* nav ul li a {
    color: #333;
    text-decoration: none;
  } */

  .header {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    background-color: #ffffff;
    /* background-color: #6cb48f; */
    height: 100px;
    padding: 0px;
    /* ㄴ원래 20px */
  }
  
  .logo {
    font-family: 'Academic M54';
    font-size: 30px;
    font-weight: bold;
    color: #6cb48f;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  @font-face {
    font-family: "Academic M54";
    font-style: normal;
    font-weight: 100;
    src: url("AnyConv.com__Academic\ M54.woff") format("woff");
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 30px;
    /* 원래 20 */
  }

  nav ul li a {
    color: #333;
    text-decoration: none;
  }

  nav ul li p {
    color:#6cb48f;
    /* font-weight: 500; */
    margin-top: 50px;
  }
