/* .header {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    background-color: #6cb48f;
    padding: 20px;
  }
   */
/*   
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  } */
/*   
  nav ul {
    list-style: none;
    display: flex;
  } */
  
  /* nav ul li {
    margin-right: 20px;
  } */
  
  /* nav ul li a {
    color: #333;
    text-decoration: none;
  } */
  
@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

  .header {
      display: flex;
      /*justify-content: space-between;*/
      align-items: center;
      background-color: #ffffff;
      /* background-color: #6cb48f; */
      height: 100px;
      padding: 0px;
      /* ㄴ원래 20px */
    }
    
    .logo {
      font-family:'bitbit';
      font-size: 35px;
      font-weight: bold;
      color: #6cb48f;
      text-decoration: none;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
    }
  
  nav ul {
    font-family: 'S-CoreDream-3Light';
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 30px;
    /* 원래 20 */
  }

  nav ul li a {
    color: #333;
    text-decoration: none;
  }

  nav ul li p {
    color:#6cb48f;
    /* font-weight: 500; */
    margin-top: 50px;
    font-size: 15px;
  }
