.main_container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main_sidebar{
    float:left;
    width:200px;
    background-color: #f3f3f3;
    border-right: 1px solid #e0e0e0; 
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    margin-left:20px;
    margin-right:20px;
}

.photoupload {
    flex:1;
    float:right;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    margin-left:20px;
  }

.face button,
.angle button {
  display: block;
  text-align: left;
  margin: 10px 0;
  margin-left:20px;
}

.bnt{
    margin-top: 200px;
    margin-left:100px;
    border: none;
    color: silver;
    padding: 40px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    border-radius: 10%;
}

