.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.noir_imageContainer h1 {
    font-family: 'Dovemayo_gothic';
    color: #6cb48f;
    text-align: center;
}

.romance_imageContainer h1 {
    font-family: 'Dovemayo_gothic';
    color: #6cb48f;
}

.action_imageContainer h1 {
    font-family: 'Dovemayo_gothic';
    color: #6cb48f;
}

.horror_imageContainer h1 {
    font-family: 'Dovemayo_gothic';
    color: #6cb48f;
}