.main-left-title {
    font-weight: bold;
    font-size:xx-large;
    padding-bottom: 30px;
}

.main-left {
    margin-top: 100px;
    margin-left:200px;
}

.main-right{
    margin-right: 200px;
    float:right;
    min-width:500px;
    height:500px;
}

.main-left-des{
    margin-left:200px;
}
