@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}




button {

  border: none;

  color: #6cb48f;

  background-color: #ffffff;

  outline-color: #6cb48f;

  padding: 10px 25px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 20px;

  margin: 4px 2px;

  cursor: pointer;

  border-style: solid;

  border-radius: 5px;


}

.mp-container {
  font-family: 'Dovemayo_gothic';
  display: flex;
  flex-direction: column;

}

.mp-contents ul li {
  width: 200px;
  margin-right: 50px;
  border-bottom: 1px solid #eee;
  padding: 10px;
  border-left: 1px solid #ccc;
  position: sticky;
  top: 10px;
  height: calc(5vh - 10px);
  overflow-y: auto;
}

.mp-main {
  margin-left: 17%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  /* margin: 50px 0; */
  /* border-top: 1px solid #ccc; */
  /* border-bottom: 1px solid #ccc; */
  padding: 0px;
}

.mp-main h1 {
  color: #6cb48f;
}

.mp-left {
  margin-left: 40px;
}

.mp-left img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.mp-left ul {
  margin-top: 10px;
}

.mp-left ul li {
  list-style: none;
  margin-left: -32px;
  font-size: 20px;
}

.mp-left li {
  list-style: none;
  margin-bottom: 5px;
}

.mp-left button {
  display: block;
  text-align: center;
  margin: 5px 0;
  font-size: 20px;
  width: 95px;
  color: #6cb48f;
  background-color: #ffffff;
  border: none;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  text-decoration-line: none;
}

.mp-right {
  flex: 1;
  position: relative;
  flex-direction: column;
  padding: 1px;
  margin-left: 7%;
}

.mp-right img {
  width: 600px;
  height: 300px;
  border-radius: 20px;
}