.main_container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.main_sidebar{
    float:left;
    width:220px;
    background-color: #00be00;
    border-radius: 20px;
    border-right: 3px solid #00be00; 
    padding: 20px;
    overflow-y: auto;
    margin-left:20px;
    margin-right:20px;
}

.photoupload {
    flex:1;
    float:right;
    border-left: 1px solid #2a8622;
    overflow-y: auto;
    margin-left:20px;
  }

.face button{
  display: block;
  text-align: left;
  margin: 10px 0;
  margin-left:20px;
}

.try button{
  display: block;
  text-align: left;
  margin: 10px 0;
  margin-left:27px;  
  margin-top:60px;
  width:57px;
  text-align:center;
}

.SD-Character{
  font-size: small;
  margin-top:20px;
}


.selected {
  background-color: #34d399;
  color: white;
}

