/* .sidebar-container {
    display: flex;
    flex-direction: column;
  }

.sidebar-content{
    flex-direction: column;
    margin-left: 100px;
    margin-top: 40px;
}

.sidebar-li {
    list-style: none;
    margin-left: -40px;
    font-size: 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    padding: 40px; 
    margin-left: 30%;
}


.sidebar-bottom {
    position: fixed;
    bottom: 0;
    margin-left: 60px;
    margin-bottom: 30px;
}
*/

button {
  
    border: none;
  
    color: #6cb48f;
  
    background-color: #ffffff;

    outline-color: #6cb48f;

    padding: 10px 25px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 20px;
  
    margin: 4px 2px;
  
    cursor: pointer;
  
  }

  .mp-container {
    display: flex;
    flex-direction: column;
  
  }
  
  .mp-contents ul li{
    width: 200px;
    margin-right: 50px;
    border-bottom: 1px solid #eee;
    padding: 10px;
    border-left: 1px solid #ccc;
    position: sticky;
    top: 10px;
    height: calc(5vh - 10px);
    overflow-y: auto;
  }
  
  .mp-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    /* margin: 50px 0; */
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
    padding: 50px 0;
  }
  
  .mp-left {
    margin-left: 50px;
  }
  
  .mp-left ul li {
    list-style: none;
    margin-left: -40px;
    font-size: 20px;
  }

  .mp-right {
    flex: 1;
    position: relative;
    flex-direction: column;
    padding: 1px;
    margin-left: 15%;
  }

  
  